extends layout

block content
  h1 Coin Features
  body
       header
          p  Coin mame
       section
           p Coin discription
       footer
           cool Get this coin Contribute to the catalog
